    <aside>
      <div class="site-author">
        <h2><%= siteSettings.author_name %></h2>
        <img src="<%= siteSettings.author_avatar %>" title="<%= siteSettings.author_name %>" alt="<%= siteSettings.author_name %>'s photo" />
        <p><%= siteSettings.author_description %></p>
      </div>
      <ul>
        <%_ mostRecentArticles.objects.forEach((article) => { _%>
        <li>
          <a href="<%= env.BASE_URL %>/pages/<%= article.slug %>/" title="<%= article.title %>">
            <p class="title"><%= article.title %></p>
            <p class="headline">
              <%= article.metadata.headline %>
            </p>
            <p class="published_at">
              Publicado em
              <time datetime="<%= article.published_at %>"><%= formatDate(article.published_at) %></time>
            </p>
          </a>
        </li>
        <%_ }) _%>
      </ul>
    </aside>

