<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title><%= page.title %> | <%= siteSettings.site_title %></title>
    <link rel="stylesheet" href="<%= env.BASE_URL %>/static/css/style.css">
  </head>
  <body class="page">
    <div class="wrapper">
      <header>
        <h1>
          <a href="<%= env.BASE_URL %>" title="<%= siteSettings.site_title %>">
            <%= siteSettings.site_title %>
          </a>
        </h1>
        <p>
          <%= siteSettings.site_description %>
        </p>
      </header>
      <article>
        <h2><%= page.title %></h2>
        <p class="published_at">
          Publicado em
          <time datetime="<%= page.published_at %>"><%= formatDate(page.published_at) %></time>
        </p>
        <%- page.content %>
        <%- include('_comments.ejs') -%>
      </article>
      <%- include('_sidebar.ejs') -%>
    </div>
  </body>
</html>
