<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title><%= page.title %> | <%= siteSettings.site_title %></title>
    <link rel="stylesheet" href="<%= env.BASE_URL %>/static/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <%- include('_favicon.ejs') -%>
  </head>
  <body class="page">
    <div class="wrapper">
      <header>
        <h1>
          <a href="<%= env.BASE_URL %>" title="<%= siteSettings.site_title %>">
            <%= siteSettings.site_title %>
          </a>
        </h1>
        <p>
          <%= siteSettings.site_description %>
        </p>
      </header>
      <article>
        <h2><%= page.title %></h2>
        <p class="published_at">
          Publicado em
          <time datetime="<%= page.published_at %>"><%= formatDate(page.published_at) %></time>
        </p>
        <figure>
          <img src="<%= page.thumbnail %>" alt="<%= page.excerpt %>" />
          <figcaption><%= page.metadata.headline %></figcaption>
        </figure>
        <%- page.content %>

        <% if (page.metadata.tags) { %>
        <div class="tags">
          <p>Tags:</p>
          <ul>
            <% page.metadata.tags.forEach((tag) => { %>
            <li><%= tag.title %></li>
            <% }) %>
          </ul>
        </div>
        <% } %>

        <%- include('_comments.ejs') -%>
      </article>
      <%- include('_sidebar.ejs') -%>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
